<header class="header">
  <nav class="nav"></nav>
</header>
<div class="container mx-auto wrapper">
  <div class="showcase content"></div>
  <div class="bulletin">
    <article class="hero content">
      <header class="title">
        <h3> {{ title }} </h3>
        <!-- <h6>Commentary and Analysis for Problem Solvers</h6> -->
      </header>
      <section>
        <p>Pick up real conversations with your customers. Build
        smart relationships that provide insights on better offers and  
        clear opportunities for your brand.</p>
        <a class="btn--landing">Partner with us, let's grow.</a>
      </section>
      <hr />
    </article>
    <h4>Headlines</h4>
    <article class="headlines content">
      <section class="max-w-xs rounded overflow-hidden shadow-md">
        <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
        <div class="brief">
          <h6>IoT is coming in 2019</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </section>
      <section class="max-w-xs rounded overflow-hidden shadow-md">
        <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
        <div class="brief">
          <h6>SEO for the Decentralized Web</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </section>
      <section class="max-w-xs rounded overflow-hidden shadow-md">
        <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
        <div class="brief">
          <h6>Cybersecurity for Small Businesses</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </section>
    </article>
  </div>
</div>
<!-- <footer class="footer container">
  <p>Vowel Corp &copy; 2018 - 2022 </p>
</footer> -->
