<header class="header">
  <nav class="nav"></nav>
</header>
<div class="wrapper container">
  <div class="showcase content"></div>
  <div class="bulletin">
    <article class="hero content">
      <header class="title">
        <h2> {{ title }} </h2>
        <h4>Commentary and Analysis for Problem Solvers</h4>
      </header>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Optio porro voluptatem consectetur excepturi fugiat.</p>
        <a class="btn--landing">Get Our Latest Insights</a>
      </section>
      <hr />
    </article>
    <article class="headlines content">
      <section>
        <h3>IoT is coming in 2019</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </section>
      <section>
        <h3>SEO for the Decentralized Web</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </section>
      <section>
        <h3>Cybersecurity for Small Businesses</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </section>
    </article>
  </div>
</div>
<footer class="footer container">
  <p>Vowel Corp &copy; 2018 - 2022 </p>
</footer>
