<header>
  <nav class="nav">
    <mat-toolbar color="primary">
      <span class="nav--coname"></span>
      <span class="nav--spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <mat-menu #menu="matMenu" color="accent">
      <button mat-menu-item routerLink="/about">
        <mat-icon>info</mat-icon>
        <span>A</span>
      </button>
      <button mat-menu-item routerLink="/products">
        <mat-icon>store</mat-icon>
        <span>Products</span>
      </button>
      <button mat-menu-item routerLink="/features">
        <mat-icon>work</mat-icon>
        <span>Features</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>dashboard</mat-icon>
        <span><a >Dashboard</a></span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>settings</mat-icon>
        <span><a >Preferences</a></span>
      </button>
      <button mat-menu-item>
        <mat-icon>fingerprint</mat-icon>
        <span><a >Login</a></span>
      </button>
    </mat-menu>
  </nav>
</header>
<router-outlet></router-outlet>
