/* stylesheet version 1.0.0 */
@import './assets/theme.scss';
@import '~typesettings/typesettings';

@font-face {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Raleway/raleway-v12-latin-regular.woff2") format("woff2")
      url("./assets/fonts/Raleway/raleway-v12-latin-regular.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Noto_Sans_SC/noto-sans-sc-v2-latin-regular.woff2") format("woff2")
      url("./assets/fonts/Noto_Sans_SC/noto-sans-sc-v2-latin-regular.woff") format("woff");
  font-display: fallback;
}

\:root {
  font-size: 16px;
  --win-height: 100vh;
  --bg-color: #ffffff;
  --cont-color: #373331;
  --theme-color: #BBDEFB;
  --offline-color: #F5F5F5;
  --landing-color: #EEFFFF;
}

html, body {
  box-sizing: border-box;
  font-family: inherit;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

$font-sans: 'Noto Sans SC', sans-serif;
$font-serif: 'Raleway', sans-serif;
$font-mono: 'Lucida Console', monospace;
$text-color: #373331;
$base-vertical-unit: 6px;
$base-line-multi: 6;
$base-font-size: 13px;
$ms-ratio: 1.618;
$paragraph-indent: false;
$paragraph-justify: true;
$load-typesetted: true;
$global-init: true;

body, p, ol, ul {
  font-family: $font-sans;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-serif;
  font-weight: bold;
  margin-bottom: emRhythm(1);
}

// h1, .h1 {
//   color: lighten($text-color, 0);
//   margin-bottom: emRhythm(1);
// }

// h2, .h2 { color: lighten($text-color, 5); }

// h3, .h3 { color: lighten($text-color, 15); }

// h4, .h4 { color: lighten($text-color, 20); }

// h5, .h5 { color: lighten($text-color, 25); }

// h6, .h6 { color: lighten($text-color, 30); }

mat-toolbar-row {
  justify-content: space-between;
}

.nav {
  margin: 0;
}

.nav--coname {
  text-transform: uppercase;
  vertical-align: middle;
}

.nav--coname::before {
  content: url('./assets/icons/icons-dark/icon-dark-36x36.png');
  width: 2.25em;
  height: 2.25em;
  top: 0;
  bottom: 0;
}

.nav--spacer {
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.title {
  padding-bottom: emRhythm(3);
}

// .btn--default {
//   padding-right: emRhythm(2, $ms-down1);
//   padding-left: emRhythm(2, $ms-down1);
//   padding-top: emRhythm(2, $ms-down1);
//   padding-bottom: emRhythm(2, $ms-down1);
// }

.content {
  margin-top: emRhythm(1);
  margin-bottom: emRhythm(5);

  & p {
    margin-bottom: emRhythm(3, $ms-down1);
    // @include setType(3, $ms-down1);
  }
}

.headlines {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  & .brief {
    padding: emRhythm(3);
  }
}

@media screen and (min-width: 576px) {
  .headlines {
      grid-template-columns: 2fr;
  }
}

@media screen and (min-width: 768px) {
  .headlines {
      grid-template-columns: repeat(3, 1fr);
  }
}
